apiVersion: v1
kind: Service
metadata:
  name: api
  labels:
    app: todo-backend
    job: todo-backend # Add this for Prometheus job label
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
