apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: todo-frontend
spec:
  type: ClusterIP
  selector:
    app: todo-frontend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
    - port: 9100
      targetPort: 9100
      protocol: TCP
      name: metrics
