apiVersion: v1
kind: Service
metadata:
  name: postgres-exporter
  labels:
    app: postgres-exporter
spec:
  selector:
    app: todo-postgres
  ports:
    - name: metrics
      port: 9187
      targetPort: 9187
      protocol: TCP
  type: ClusterIP
